<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CF Summit App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Hey there!</h1> <span style="font-size:21px;">Welcome to Teapot Depot</span>
        <p> Thank you for your order! Your order has been submitted!</p>
    </div>
</div>
</body>
</html>