<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CF Summit App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Hey there!</h1> <span style="font-size:21px;">Welcome to Teapot Depot</span>
        <p> Please select a product below</p>
        <form action="#" th:action="@{/process}" th:object="${order}" method="post">
            <p>
                <textarea class="input-field" th:field="*{shippingAddress}"></textarea>
            </p>
            <p><input type="submit" value="Submit" class="btn btn-lg btn-success"/></p>
        </form>
    </div>
</div>
</body>
</html>