<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CF Summit App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="../static/css/normalize.css"
          th:href="@{css/normalize.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/index.css"
          th:href="@{css/index.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Teapot Depot!</h1>
        <p> Scope our catalog!</p>
        <!--<img src="../images/blue-teapot.jpg"></img>-->
        <!--<img src="../images/pink-teapot.jpeg"></img>-->
        <!--<img src="../images/red-teapot.jpg"></img>-->

        <p> Please select a product</p>
        <form action="#" th:action="@{/process}"  method="post">

            <!--<label for="select-product">Product:</label>-->
            <!--<select id="select-product" th:field="*{order.productID}">-->
                <!--<option th:each="dropdownValue: ${productIDs}"-->
                        <!--th:value="${dropdownValue}"-->
                        <!--th:text="${dropdownValue}" ></option>-->
            <!--</select>-->

            <div class="select-product">
                <div class="product-images">
                    <label class="product-image" th:each="radioButton: ${productImageURLs}">
                        <input type="radio" name="product" value="small" />
                        <img th:src="@{${radioButton}}"/>
                    </label>
                </div>
            </div>

            <div class="product-quantity">
                <label for="select-quantity">Quantity:</label>
                <select id="select-quantity" th:field="*{order.quantity}">
                    <option th:each="dropdownValue: ${productQuantities}"
                            th:value="${dropdownValue}"
                            th:text="${dropdownValue}" >
                    </option>
                </select>
            </div>
            <div class="shipping-address">
                <p>Shipping Address:</p>
                <label for="street-address">Street Address:</label>
                <input type="text" id="street-address" class="input-field"/><br/>

                <label for="apt-suite">Apt/Suite:</label>
                <input type="text" id="apt-suite" class="input-field"/><br/>

                <label for="city">City:</label>
                <input type="text" id="city" class="input-field"/><br/>

                <label for="state">State:</label>
                <input type="text" id="state" class="input-field" th:field="*{order.destinationZipCode}"/><br/>

                <label for="zipcode">Zipcode:</label>
                <input type="text" id="zipcode" class="input-field"/><br/>
            </div>
            <div class="submit">
                <input type="submit" value="Submit" class="btn btn-lg btn-success"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>