<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Order Status</h1> <span style="font-size:21px;" th:text="'Order #' + ${order.orderID}"></span>
        <p>Thank you for your order! Your order has been submitted!</p>
        <p th:text="'Your order ID is:' + ${order.orderID}" ></p>
        <!--<p th:text="'Order Status:' + ${order.statusCode}" ></p>-->
    </div>
</div>
</body>
</html>