<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link type="text/css" rel="stylesheet" href="../static/css/normalize.css"
          th:href="@{/css/normalize.css}" media="screen"/>
    <link type="text/css" rel="stylesheet" href="../static/css/web-store.css"
          th:href="@{/css/web-store.css}"  media="screen"/>
</head>
    <body>
        <div class="container main">
            <div class="jumbotron">
                <h1 class="teapot-depot">Teapot Depot</h1>
                <h2> Order Status</h2>
            </div>
            <div class="status">
                <h1>Order Status</h1>
                <div th:if="${order.orderStatus} == 'CANCELLED' ">
                    <p>Oops! Looks like you wanted to ship to somewhere we don't ship to yet! Sorry for the inconvenience!</p>
                    <div class="extra">
                        <p th:text="'Order Status: ' + ${order.orderStatus}" ></p>
                        <p th:text="'Fulfilled By: ' + ${order.fulfilledBy}" ></p>
                    </div>

                </div>
                <div th:unless="${order.orderStatus} == 'CANCELLED' ">
                    <p>Thank you for your order! Your order has been submitted!</p>
                    <p th:text="'Your order ID is: ' + ${order.orderID}" ></p>
                    <p th:text="'Order Status: ' + ${order.orderStatus}" ></p>
                    <p th:text="'Fulfilled By: ' + ${order.fulfilledBy}" ></p>
                </div>
            </div>


                <div class="order-status-btn">
                    <a href="http://web-store.apps.mpivcf.com">Submit Another Order!</a>
                </div>
            </div>
    </body>
</html>