*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body{
    background-color: #dbf0ef;
    background-image: -moz-linear-gradient(45deg, #a4dad8 0%, #dbf0ef 50%);
    background-image: -webkit-linear-gradient(45deg, #a4dad8 0%, #dbf0ef 50%);
    background-image: -ms-linear-gradient(45deg, #a4dad8 0%, #dbf0ef 50%);
}

.teapot-depot{
    font-family: 'Lobster', cursive;
}

.jumbotron {
    background-color: #032942;
    color: #1BAD9E;
}
.main {
    background-color: #fff;
    padding-bottom: 20%;
}

.container{
    padding-right: 0;
    padding-left: 0;
}

.container .jumbotron{
    border-radius: 0 0 6px 6px;
}

.form,
.order-conf,
.status{
    padding-right: 15px;
    padding-left: 15px;
}

input[type=text], textarea {
    width: 40%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.shipping-address label {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding: 1%;
    display: none;
}

img{
    height:100px;
}
.product-images{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.product-images label{
    float: left;
    width: 33%;
}

.select-product{
    margin-bottom: 20px;
}

p{
    font-size: 25px;
}

.product-quantity{
    margin: 2% 0;
    font-size: 30px;
    border-bottom: 1px solid #F6DC67;
    padding-bottom: 20px;
}

#select-quantity{
    background-color: transparent;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: #1BAD9E;
}

/*Embed Radio button inside of product images */
label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border-bottom:4px solid #1BAD9E;
    transform: scale(1.2);
}

select{
    border: 0;
    background-color: transparent;
}

.submit{
    margin: 3% 0;
    text-align: center;
}

.order-status-btn{
    margin: 20px;
}

.order-status-btn a{
    padding: 10px 16px;
    text-decoration: none;
}

.btn-success,
.order-status-btn a{
    background-color: #fff;
    color: #1BAD9E;
    border: 2px solid #1BAD9E;
    border-radius: 0;
    font-size: 18px;
}

.btn-success:hover,
.order-status-btn a:hover{
    background-color: #1BAD9E;
    color: #fff;
    transform: scale(1.1);
    font-size: 18px;
    border-radius: 0;
    border: 2px solid #1BAD9E;
}

.btn-success:active,
.order-status-btn a:active{
    background-color: #1BAD9E;
    border-radius: 0;
    border: 2px solid #1BAD9E;
    border-color: #1BAD9E;
}

.btn-success:active:focus,
.order-status-btn a:active:focus{
    background-color: #1BAD9E;
    border: 2px solid #1BAD9E;
}

.extra p{
    font-size: 14px;
    color: #d3d3d3;
}